.col-sm-4 li.list-group-item {
    text-transform: capitalize;
}
.chat_content {
    border: 2px solid #fff;
    border-radius: 6px 6px 0px 0px;
}
.chat_content ul.list-group {
    display: inline-block;
    width: 100%;
    height: 300px;
    overflow-y: auto;
    padding: 20px 20px 0px;
    margin: 0px;
    float: left;
    transition: all 0.5s;
}
.chat_content .text-left {
    font-size: 20px;
    font-weight: 600;
    /*background-color: #337ab7;*/
    padding: 4px;
    border-radius: 6px 6px 0px 0px;
    /*color: #fff;*/
    text-transform: capitalize;
}
.chat_inner{
    display: inline-block;
    width: 100%;
}
.img-rounded{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: block;
    /*margin: 0px auto;*/
    margin-top: 4px;
    margin-bottom: 50px;
    margin-left: 5px;
    position: absolute;
    padding: 2px;
    /*  background-color: rgba(255,255,255,0.75);*/
    background-color: #fff;
}
.text_left{
    text-align: left;
    margin-left: 55px;
    margin-top: 20px;
}
.input-group-append{
    width: 50px; 
    float: left;
}
/*.btn{
    width: 100%;
    padding: 7px;
}*/
.input-group{
    width: 100%;
}
.form-control{
    width: 100%; 
    float: left;
    border-radius: 10px;
}
.chat_inner .list-group-item{
        width: 60%; 
        margin: 10px 0;
}
.panel-heading{
    border-block-end: inherit;
    padding: 0px 10px;
}
.panel-body{
    border-block-end: inherit;
}
.panel-group{
    border-radius: 20px 20px 0px 0px;
}
.list-group-item{
    padding: 7px 11px;
}
.list-group{
    margin-left:36px;
}
.panel-footer{
    background-color: #
}