.profile_name_and_time{
	display: inline-block;
	float: left;
}
.name{margin-top: 9px;
}
h4.usercomment {
    margin-top: 5px;
}
.col-sm-4{
	font-family: inherit;
	font-size: 20px;
}
.cmt{
	margin-left: 53px;
}
.panel-footer{
	font-weight: 500;
	background-color: none;
	text-align: center;
	position: relative;
	color: #1c1e21;
	display: inline-block;
	width: 100%;
}
.profile_name_and_time h4 {
    margin-top: 13px;
}
.panel-body{
	border: 1px ridge;
	margin:12px;
}
.text_align{
	position: absolute;
	margin-right: -5px;
	margin-top: -12px;
	margin-left: 58px;
}

.comment_profile{
	height: 36px;
	width: 36px;
	overflow: hidden;
	border-radius: 50%;
	float: left;
	margin-right: 20px;
}
.comment_profile img {
	min-height: 100%;
	min-width: 100%;
	max-height: 100%;
	max-width: 100%;
	object-fit: cover;
}
.comment_textbox{
	width: calc(100% - 56px);
	float: left;
}
.comment_section{
	display: inline-block;
	width: 100%;
	padding: 6px;

}
.panel-footer i{
	margin-right: 5px;

}
.profile_image{
	height: 50px;
	width: 50px;
	margin-right: 20px;
	border-radius: 50%;
	overflow: hidden;
	float: left;
}
.profile_image img{
	min-height: 100%;
	min-width: 100%;
	max-height: 100%;
	max-width: 100%;
	object-fit: cover;
}
.form-control{
	border-radius: 30px;
}	
.post_image img{
	width: 100%;
}
.panel-default>.panel-heading{
	background-color: transparent;
	display: inline-block;
	width: 100%;
}
.panel.panel-default {
    border-color: #6495ed;
}
.panel-group{
	padding: 5px;
}

.post_frame{
	width: 100%;
	height: 500px;
	border: 2px solid gray;
}
.image_box{
	overflow: hidden;
	position: relative;
	border: 2px solid gray;
    float: left;
}
.image_box img {
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
}
.single_image_layout .image_box {
    height: 100%;
    width: 100%;
}
.double_image_layout .image_box{
	height: 100%;
    width: 50%;
}
.three_image_layout .image_box:first-child{
	height: 100%;
    width: 50%;
}
.three_image_layout .image_box,
.four_image_layout .image_box,
.five_image_layout .image_box:first-child,
.five_plus_image_layout .image_box:first-child,
.five_image_layout .image_box:nth-child(2),
.five_plus_image_layout .image_box:nth-child(2){
	height: 50%;
    width: 50%;
}
.five_image_layout .image_box,
.five_plus_image_layout .image_box{
	height: 50%;
	width: 33.33%;
}