[mwlDraggable] {
  background-color: red;
  width: 200px;
  height: 200px;
  position: relative;
  z-index: 2;
  float: left;
  margin-right: 10px;
  cursor: move;
}

[mwlDroppable] {
  background-color: green;
  width: 400px;
  height: 400px;
  z-index: 1;
  position: relative;
  top: 50px;
  left: 100px;
}

[mwlDraggable],
[mwlDroppable] {
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drop-over-active {
  border: dashed 1px black;
  background-color: lightgreen;
}

.drag-active {
  z-index: 3;
}
.col-sm-6.col-sm-offset-3.main {
  margin-left: 35%;
}
.img-rounded{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: block;
    /*margin: 0px auto;*/
    margin-top: 4px;
    margin-bottom: 50px;
    margin-left: 5px;
    position: absolute;
    padding: 2px;
    /*  background-color: rgba(255,255,255,0.75);*/
    background-color: #fff;
}
.text_left{
    text-align: left;
    margin-left: 55px;
    margin-top: 18px;
}
.btn{
  border: none;
  color: white;
  float: right;
  text-align: center;
  font-size: 14px;
  margin-left: 210px;
  margin-top: -35px;
}