.profile_image{
	height: 37px;
    width: 37px;
    margin-right: -7px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-top: 8px;
}
.profile_image img{
	min-height: 100%;
	min-width: 100%;
	max-height: 100%;
	max-width: 100%;
	object-fit: cover;
}